<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'styles.css') }}"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>{% block title %} {%endblock%}</title>
  </head>





  <body>

    <header>
        <a href="/"><h1>Biblioteca</h1></a>
    </header>
 
   
    <main>


        <section id="cont">

            <img class="bgpic" src="{{ url_for('static', filename = 'imgs/Library.png') }}" alt="logo" />

            <hr/>

            <div class="conts">
                {%block content%} {%endblock%}

            </div>

        </section>
    </main>




  </body>


</html>
