{% extends "base.html"%} {%block title %}Campanhas - Biblioteca{%endblock%} {%block pic %}<img class="bgpic" src="{{ url_for('static', filename = 'imgs/lib.png') }}" alt="logo" />{%endblock%} {%block content%}



<h3>Campanhas</h3>
<table style="width:100%" class="pure-table pure-table-horizontal">
    <tr>
        <th>ID Campanha</th>
        <th>Nome</th>
    </tr>
    {% for camp in campanhas %}
    <tr>
        <td>{{camp.id_camp}}</td>
        <td>{{camp.nome_camp}}</td>
        {% endfor %}
</table>



<hr />
<h2>Adicionar campanha</h2>
<form action="/reg_camp" method="post">
    <p>Nome da Campanha</p>
    <input type="text" id="campa" name="campa" required="required" class="campa">

    <input type="submit" class="sub final" value="Registo da Campanha">

</form>

<hr />
<div class="dropdown">
    <li><a href="/"><button class="dropbtn botoes ">Início</button></a>
    </li>
</div>


{%endblock%}