{% extends "base.html"%} {%block title %}Remover sócios -
Biblioteca{%endblock%} {%block content%}



<hr />
<h2>Remover sócio</h2>
<form action="/del_soc2" method="post">


    <p>Cartão de Cidadão</p>
    <select name="ccs" id="ccs">
        {% for socio in socios %}
        <option value="{{ socio.cc }}">{{socio.cc}} - {{socio.nome_soc}}</option>
        {% endfor %}
    </select>

    <input type="submit" class="sub final" value="Remover" />
</form>

<hr />
<a href="/" class="abotoes"><button type="button" class="botoes">Home</button></a>

{%endblock%}