{% extends "base.html"%} {%block title %}Remover sócios - Biblioteca{%endblock%} {%block pic %}<img class="bgpic"
    src="{{ url_for('static', filename = 'imgs/bb.png') }}" alt="logo" />{%endblock%} {%block content%}



<hr />
<h2>Remover sócio</h2>
<form action="/del_soc2" method="post">


    <p>Cartão de Cidadão</p>
    <select name="ccs" id="ccs">
        {% for socio in socios %}
        <option value="{{ socio.cc }}">{{socio.cc}} - {{socio.nome_soc}}</option>
        {% endfor %}
    </select>

    <input type="submit" class="sub final" value="Remover" />
</form>

<hr />
<div class="dropdown">
    <li><a href="/"><button class="dropbtn botoes ">Início</button></a>
    </li>
</div>


{%endblock%}