{% extends "base.html"%}
{%block title %}Home - Biblioteca{%endblock%}

{%block pic %}<img class="bgpic_home" src="{{ url_for('static', filename = 'imgs/lib.png') }}" alt="logo" />{%endblock%}


{%block content%}

<!-- <a href="reg_livro"><button type="button">Registar livro</button></a>

<a href="ver_livros"><button type="button">Ver livros</button></a>

<a href="reg_soc"><button type="button">Registar sócio</button></a>

<a href="ver_soc"><button type="button">Ver sócios</button></a>

<a href="reg_req"><button type="button">Registar requisito</button></a>

<a href="compl_req"><button type="button">Fechar requisito</button></a>

<a href="ver_req"><button type="button">Ver requisitos</button></a>

<a href="campanhas"><button type="button">Campanhas</button></a> -->

<hr />
<a href="/" class="abotoes"><button type="button" class="botoes">Home</button></a>

{%endblock%}