{% extends "base.html"%} {%block title %}Registar sócios - Biblioteca{%endblock%} {%block pic %}<img class="bgpic" src="{{ url_for('static', filename = 'imgs/lib.png') }}" alt="logo" />{%endblock%} {%block content%}

<h3>Registar sócio</h3>
<form action="/reg_soc2" method="post">

    <p>Cartão de Cidadão</p>
    <input type="cc" id="cc" name="cc" required="required" class="cc" placeholder="ex: 12345678">

    <p>Nome</p>
    <input type="text" id="nome" name="nome" required="required" class="nome">

    <p>Data de Nascimento</p>
    <input type="text" id="dn" name="dn" required="required" class="dn" placeholder="dd/mm/yyyy">

    <p>Email</p>
    <input type="email" id="email" name="email" required="required" class="email">

    <p>Morada</p>
    <input type="text" id="morada" name="morada" required="required" class="morada">

    <p>Ano de inscrição</p>
    <input type="number" id="ano_insc" name="ano_insc" required="required" class="ano_insc">

    <p>Ativo? - S/N</p>
    <input type="text" id="status" name="status" required="required" class="status">

    <input type="submit" class="sub final" value="Registo do sócio">

</form>

<hr />
<div class="dropdown">
    <li><a href="/"><button class="dropbtn botoes ">Início</button></a>
    </li>
</div>

{%endblock%}