{% extends "base.html"%} {%block title %}Registar requisito - Biblioteca{%endblock%} {%block pic %}<img class="bgpic" src="{{ url_for('static', filename = 'imgs/lib.png') }}" alt="logo" />{%endblock%} {%block content%}

<h3>Registar requisito</h3>
<form action="/reg_req2" method="post">

    <p>Cartão de Cidadão</p>
    <select name="ccs" id="ccs">
        {% for socio in socios %}
        <option value="{{ socio.cc }}">{{socio.cc}} - {{socio.nome_soc}}</option>
        {% endfor %}
    </select>

    <p>ISBN do livro</p>
    <select name="isbns" id="isbns">
        {% for livro in livros %}
        <option value="{{ livro.ISBN }}">{{livro.ISBN}} - {{livro.titulo}}</option>
        {% endfor %}
    </select>

    <p>Data de Requisição</p>
    <input type="text" id="dt_req" name="dt_req" required="required" class="dt_req" placeholder="dd/mm/yyyy">

    <p>Data de Entrega</p>
    <input type="text" id="dt_ent" name="dt_ent" required="required" class="dt_ent" placeholder="dd/mm/yyyy">

    <input type="submit" class="sub final" value="Registo do requisito">

    <!-- mudar estado livro para 1-->

</form>

<hr />
<div class="dropdown">
    <li><a href="/"><button class="dropbtn botoes ">Início</button></a>
    </li>
</div>

{%endblock%}