{% extends "base.html"%}
{%block title %}Registar livro - Biblioteca{%endblock%}
{%block content%}


<form action="/reg_livro2" method="post">

    <p>ISBN do livro</p>
    <input type="text" id="isbn" name="isbn" required="required" class="isbn" >

    <p>Título</p>
    <input type="text" id="tit" name="tit" required="required" class="tit" >

    <p>Autor</p>
    <input type="text" id="autor" name="autor" required="required" class="autor" >

    <p>Editora</p>
    <input type="text" id="edit" name="edit" required="required" class="edit" >

    <p>Ano</p>
    <input type="text" id="ano" name="ano" required="required" class="ano" >

    <!-- livro também tem estado (requisitado 1, não requisitado 0)-->

    <input type="submit" class="sub" value="Registo do livro">

</form>


<hr/>
<a href="/"><button type="button">Voltar</button></a>

{%endblock%}