{% extends "base.html"%}
{%block title %}Requisitos - Biblioteca{%endblock%}
{%block pic %}<img class="bgpic" src="{{ url_for('static', filename = 'imgs/lib.png') }}" alt="logo" />{%endblock%}
{%block content%}

<h3>Requisitos</h3>
<table style="width:100%" class="pure-table pure-table-horizontal">
  <tr>
    <th>ID</th>
    <th>ISBN </th>
    <th>CC Sócio</th>
    <th>Data de requisito</th>
    <th>Data de entrega</th>
    <th>Completo</th>
  </tr>
  {% for req in reqs %}
  <tr>
    <td>{{req.id_req}}</td>
    <td>{{req.ISBN_req}}</td>
    <td>{{req.cc_req}}</td>
    <td>{{req.data_req}}</td>
    <td>{{req.data_entr}}</td>
    <td>{{req.completo}}</td>
    {% endfor %}
</table>

<hr />
<a href="/" class="abotoes"><button type="button" class="botoes">Home</button></a>

{%endblock%}